<h3 class="text-light">Добавить новую категорию</h3>
<form asp-action="Create" method="post" class="form-group text-light w-50">
    <label class="form-label">Название категории</label>
    <input name="name" type="text" class="form-control text-dark" required>
    <input type="submit" value="Создать" class="btn btn-sm btn-outline-success mt-2">
</form>