<a asp-controller="Category" asp-action="Index">Категории</a>
<a asp-controller="Customer" asp-action="Index">Покупатели</a>
<a asp-controller="Order" asp-action="Index">Заказы</a>
<a asp-controller="Product" asp-action="Index">Товары</a>