<h3>Страница входа в панель управления</h3>
<form asp-action="Login" method="post">
    <p>
        <label>Логин</label><br />
        <input type="text" name="login" required/>
    </p>
    <p>
        <label>Пароль</label><br />
        <input type="password" name="password" required/>
    </p>
    <input type="submit" value="Войти" />
</form>