{
    ViewData["Title"] = "Контакты";
}
<div>
    <p>
        Связаться с нами вы можете любым из нижеперечисленных способов. Постараемся ответить вам в ближайшее время.
        <ul>
            <li><a href="mailto:beautyshop@beautyshop.ru">&#9993;beautyshop@beautyshop.ru</a></li>
            <li><a href="#"><img src="/images/vk.png" />Вконтакте</a></li>
            <li><a href="#"><img src="/images/telegram.jpg" />Telegram</a></li>
        </ul>
    </p>
</div>