@using WebUI.Models
@model CartEditAmountVm

@{
    ViewData["Title"] = "Изменение количества";
}

 @using(Html.BeginForm("EditAmount", "Cart", FormMethod.Post))
{
    <label class="form-label">Название товара</label> <br />
    <input type="text" name="Name" value="@Model.Name" class="form-control w-25 mb-2" disabled>
    <input type="number" name="id" value="@Model.Id" hidden><br/>
    <label class="form-label">Необходимое количество</label><br/>
    <input type="number" name="amount" min="1", max="100" size="5" step="1" value="@Model.Amount"><br/>
    <input type="submit" value="Сохранить" class="btn btn-primary btn-sm rounded-bottom mt-2">
}