@{
    ViewData["Title'"] = "Оформление заказа";
}
<h3>Форма оформления заказа</h3>
@using(Html.BeginForm("AddOrder", "Order", FormMethod.Post))
{   
        <label class="form-label">Ваше имя</label>
        <input name="name" type="text" pattern="[A-Za-zА-Яа-яЁё]*" placeholder="Имя" class="form-control w-50" required>
    
        <label class="form-label">Контактный номер телефона</label>
        <input name="telephoneNumber" type="tel" pattern="[7][0-9]*" placeholder="7XXXXXXXXXX" maxlength="11" class="form-control w-50" required>

        <label class="form-label">Email</label>
        <input name="email" type="email" placeholder="Пример: beauty@mail.ru" class="form-control w-50" required>

        <label class="form-label">Адрес доставки</label>
        <label class="form-label">Город</label>
        <input name="city" type="text" placeholder="Город" class="form-control w-50" required>
        <label class="form-label">Улица, дом, квартира</label>
        <input name="address" type="text" placeholder="Улица, дом, квартира" class="form-control w-50" required>

        <label class="form-label">Коментарий к заказу</label>
        <textarea name="commentary" pattern="[A-Za-zА-Яа-яЁё,.!?]*" maxlenght="255" placeholder="Ваш комментарий (макс. 255 символов)" class="form-control w-50" ></textarea>

        <label class="form-label">Желаямая дата доставки</label>
        <input name="deliveryDate" type="date" min="@DateTime.Now.AddDays(3).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")" class="form-control w-50" required>

        <label class="form-label">Желаемый временной промежуток</label>
        <div class="form-check">
            <input name="deliveryTime" type="radio" value="9:00 - 12:00" >
            <label class="form-check-label">9:00 - 12:00</label><br />
            <input name="deliveryTime" type="radio" value="12:00 - 17:00" >
            <label class="form-check-label">12:00 - 17:00</label><br />
            <input name="deliveryTime" type="radio" value="17:00 - 21:00" >
            <label class="form-check-label">17:00 - 21:00</label><br />
        </div>
            
        <input type="submit" value="Перейти к оплате" class="btn btn-sm btn-primary"/>
    
}