@{
    ViewData["Title"] = "Отследить заказ";
}

<div>
    Для проверки состояния заказа введите его номер в форму ниже:


    <form asp-controller="Tracking" asp-action="CheckOrder" method="get">
        <input type="text" name="orderId" placeholder="Номер заказа"  class="form-control w-25 mb-1" required>
        <input type="submit" value="Отследить заказ" class="btn btn-sm btn-primary">
    </form>
  
</div>