@{
    ViewData["Title"] = "Отследить заказ";
}

<div>
    Для проверки состояния заказа введите его номер в форму ниже:


    <form asp-controller="Tracking" asp-action="CheckOrder" method="get">
        <input type="text" name="orderId" placeholder="Номер заказа">
        <input type="submit" value="Отследить заказ">
    </form>
  
</div>