    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"]</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />

</>
<body>
    <!--Header START-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Beauty Shop</a>
                <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Catalog" asp-action="Index" class="nav-link">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Contacts" class="nav-link">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Tracking" asp-action="Index" class="nav-link">Отследить заказ</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">Панель управления_Демо</a>
                    </li>
                </ul>
                <form asp-controller="Catalog" asp-action="Search" class="d-flex pt-3">
                    <input  name="searchString" type="text" class="form-control form-control-sm me-sm-2" placeholder="Поиск" required>
                    <button class="btn btn-sm btn-secondary ml-0 my-sm-0" type="submit">Search</button>
                </form>
                    <a asp-controller="Cart" asp-action="Index" class="btn btn-sm btn-light m-2">&#128722; Корзина</a>
                </div>
            </div>
            </nav>
    <!--Header END-->

    <div class="container-fluid pt-3">
        @RenderBody()
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

