<div class="input-group w-50">
    <select name="sortMethod" class="form-select form-select-sm">
        <option value="name" selected>По алфавиту</option>
        <option value="name-desc">По алфавиту в обратном порядке</option>
        <option value="price">По возрастанию цены</option>
        <option value="price-desc">По убыванию цены</option>
        <option value="popularity">По количеству заказов</option>
    </select>
    <input type="submit" value="Сортировать" class="btn btn-sm btn-primary">
</div>
