<select name="sortMethod">
    <option value="name">По алфавиту</option>
    <option value="name-desc">По алфавиту в обратном порядке</option>
    <option value="price">По возрастанию цены</option>
    <option value="price-desc">По убыванию цены</option>
    <option value="popularity">По количеству заказов</option>
</select>