<a asp-controller="Customer" asp-action="Index">Покупатели</a><br />
<a asp-controller="Category" asp-action="Index">Категории</a><br />
<a asp-controller="Product" asp-action="Index">Товары</a><br />
<a asp-controller="Order" asp-action="Index">Заказы</a><br />
<hr />
@RenderBody()