@using Domain.Entities
@using WebUI.Models

@{
    ViewData["Title"] = "Каталог";

}
<div class="row">
    <!--Навигация по категориям НАЧАЛО-->
    <div class="col-3">
        <div class="list-group">
            @foreach(Category c in ViewBag.Categories)
            {
                <a asp-controller="Catalog" asp-action="Category" asp-route-id="@c.CategoryId" class="list-group-item list-group-item-action ">@c.Name</a>
            }
        </div>
    </div>
    <!--Навигация по категориям КОНЕЦ-->

    <div class="container-flex text-center col-9">
        <!--Вывод карточек товаров НАЧАЛО-->
        <h4>Популярные товары</h4>
        @await Component.InvokeAsync("ProductCards", new { products = ViewBag.MostPopularity})
        <!--Вывод карточек товаров КОНЕЦ-->
    </div>


</div>
